@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-background dark:bg-gray-900 text-gray-900 dark:text-gray-100;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
